#navbar {
    display: flex;
    height: 50px;
    width: 900px;
    background-color: pink;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: 2px solid grey;
}

.options {
    height: 50px;
    width: 80px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 10px;
}