#container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
    border: 5px solid black;
    align-items: center;
}

#container div {
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

h1 {
    font-size: 50px;
}