* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

.main_box {
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 27px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 70px;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar_menu {
    position: fixed;
    left: -360px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100vh;
    width: 23vw;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 70px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    height: 70px;
}

.sidebar_menu .logo a {
    position: absolute;
    color: white;
    text-decoration: none;
    left: 30px;
    font-size: 30px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 30px;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    left: 20vw;
    line-height: 70px;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 10px;
    padding: 10px 20px;
    transition: all 0.2s;
}

.sidebar_menu .menu i, a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 10px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 2%;
    left: 5%;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding-right: 0.75vw;
    transition: all 0.2s;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

.btn_one i:hover {
    font-size: 35px;
}

.btn_two i:hover {
    font-size: 35px;
}

.sidebar_menu .social_media i:hover {
    color: white;
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
}