body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: black;
    width: 27%;
    height: 90%;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 0.8rem;
    height: 89%;
    overflow: auto;
    margin-top: 0.6rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.nav-bar {
    margin: 0.6rem;
    background-color: #121212;
    border-radius: 0.8rem;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-opt {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.7;
    transition: all 0.2s;
    cursor: pointer;
}

.nav-opt a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
}

.nav-opt:hover {
    opacity: 1;
}

.library {
    margin: 0.6rem;
    background-color: #121212;
    border-radius: 0.8rem;
    height: 77.5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem 0.75rem;
}

.lib-nav {
    display: flex;
    justify-content: start;
    padding: 1rem;
    height: 5%;
    width: 100%;
}

.lib-options {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 60%;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
    opacity: 0.7;
    cursor: pointer;
}

.lib-options:hover {
    opacity: 1;
}

.lib-options img {
    height: 1rem;
    width: 1rem;
}

.lib-options a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

.icons {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 20%;
    font-size: 1.2rem;
}

.icons i {
    margin-left: 2rem;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s;
}

.icons i:hover {
    opacity: 1;
}

.lib-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: -1rem;
}

.lib-box {
    background-color: #1f1f1f;
    border-radius: 0.8rem;
    margin: 1rem;
    padding: 1.5rem;
    height: auto;
}

.lib-box h3 {
    margin-top: 0.1rem;
}

.lib-box button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 100px;
    width: fit-content;
    margin-top: 0.7rem;
    transition: all 0.2s;
    cursor: pointer;
}

.lib-box button:hover {
    transform: scale(1.1);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: #121212;
}

.left-btns {
    display: flex;
    justify-content: space-evenly;
    justify-self: start;
    align-items: center;
    width: 10%;
    height: auto;
}

#back-btn {
    background-color: black;
    border-radius: 50%;
    padding: 0.5rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s;
}

#back-btn:hover {
    opacity: 1;
}

#forward-btn {
    background-color: black;
    border-radius: 50%;
    padding: 0.5rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s;
}

#forward-btn:hover {
    opacity: 1;
}

.right-btns {
    display: flex;
    justify-self: end;
    justify-content: space-evenly;
    width: 35%;
    height: auto;
    align-items: center;
    margin-right: 1rem;
}

.right-btns button {
    padding: 0.6rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    font-size: 0.85rem;
    transition: all 0.2s;
    cursor: pointer;
}

.right-btns > i {
    padding: 0.6rem;
    background-color: black;
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
}

#install {
    color: white;
    background-color: black;
}

#install i {
    width: auto;
    color: white;
    padding:0 0.5em 0 0;
}

.right-btns button:hover {
    transform: scale(1.1);
}

.right-btns i:hover {
    transform: scale(1.1);
}

.albums {
    margin: 2rem;
}

.card-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card {
    background-color: #1f1f1f87;
    border-radius: 0.8rem;
    width: 27%;
    padding: 1rem;
    cursor: pointer;
    margin: 0.6rem;
    transition: all 0.2s;
}

.card:hover {
    background-color: #1f1f1f;
}

.card img {
    display: flex;
    align-self: center;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #121212;
}

.card p {
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1067px) {
    .hide {
        display: none;
    }
}

@media (max-width: 1260px) {
    .hide1 {
        display: none;
    }
}

.music-player {
    display: flex;
    justify-content: space-evenly;
}

.curr-song {
    display: flex;
    width: 25%;
    margin-left: 3rem;
    margin-top: 0.4rem;
}

.song-img img {
    height: 60px;
    border-radius: 0.5rem;
}

.song-name {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.6rem;
    width: 50%;
}

.song-name h5 {
    color: white;
    margin: 0rem 1rem;
    height: 0.2rem;
}

.song-name h6 {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 1rem;
    height: 0.2rem;
}

.song-react {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.song-react img {
    height: 2rem;
}

#heart {
    height: 1.5rem;
    margin-bottom: 0.2rem;
}

.play-controls {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

.play-btns {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-self: start;
    justify-self: center;
    margin-top: 1rem;
}

.play-btns img {
    height: 0.9rem;
    width: 0.9rem;
    opacity: 0.6;
    transition: all 0.2s;
    cursor: pointer;
}

.play-btns img:hover {
    opacity: 1;
}

.play-btns #play {
    height: 2rem;
    width: 2rem;
    margin-top: -0.5rem;
    opacity: 1;
}

.play-bar {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.progress {
    width: 45%;
    height: 0.2rem;
    margin: 0 0.4rem;
    accent-color: rgb(14, 138, 14);
}

.play-bar span {
    font-size: 0.7rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.song-opts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.song-opts .same-btns {
    height: 1.7rem;
    width: auto;
    opacity: 0.6;
    transition: all 0.2s;
    cursor: pointer;
}

.song-opts .same-btns:hover {
    opacity: 1;
}

.song-opts .comp-play {
    height: 1rem;
    width: auto;
    opacity: 0.6;
    transition: all 0.2s;
    cursor: pointer;
}

.song-opts .comp-play:hover {
    opacity: 1;
}

.song-opts .stack {
    opacity: 0.6;
    transition: all 0.2s;
    cursor: pointer;
}

.song-opts .stack:hover {
    opacity: 1;
}

.song-opts .vol-bar {
    height: 0.3rem;
    width: 35%;
    accent-color: white;
}