* {
    font-family: 'Courier New';
}

h1 {
    color: #b92b27;
}

#login {
    background-color: #b92b27;
    color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: rgb(213, 240, 171);
    color: rgb(40, 19, 19);
}

/* Descendant selector */
.post a {
    color: blueviolet;
}

nav ul li a {
    color: #b92b27;
}

p + h3 {
    text-decoration: double underline;
}

.upvote + button {
    background-color: aquamarine;
}

div > input {
    background-color: bisque;
}

input[type="text"] {
    color: #b92b27;
}

input[type="password"] {
    color: green;
}