div {
    height: 150px;
    width: 300px;
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em;
}

.circle {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: pink;
    display: inline-block;
}

ul li {
    display: inline;
}