div {
    height: 200px;
    width: 500px;
    background-color: wheat;
    /* border-width: 5px;
    border-color: black;
    border-style: dashed; */
    border: 5px dashed blueviolet;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}

button {
    border: 2px ridge brown;
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 5px;
}