h1 {
    color: maroon;
}

.post {
    background-color: beige;
    height: 200px;
    width: 500px;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
}

.user {
    font-style: italic;
}

.content {
    border: 2px solid black;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: black;
}