.cards {
    width: 300px;
    height: 450px;
    display: inline-block;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(64, 60, 60);
    transition: 0.2s;
}

.des {
    padding-left: 20px;
    padding-top: 10px;
    font-family: Verdana;
}

.images {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
}

#man_img {
    background-image: url(man.jpg);
    background-size: cover;
}

#woman_img {
    background-image: url(woman.jpg);
    background-size: cover;
}

.cards:hover {
    box-shadow: 8px 8px 15px rgb(64, 60, 60);
}