div {
    background-color: rgba(255, 0, 0, 0.5);
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 
    margin-top 2s ease 0.2s, 
    border-radius 2s ease 0.2s,
    background-color 2s ease 0.2s;
}

div:hover {
    background-color: rgb(255, 0, 0);
    margin-top: 100px;
    border-radius: 50%;
}
