#face {
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: yellow;
    border-radius: 50%;
    border: 5px solid black;
}

#eyes {
    width: 100%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

#eye_1 {
    background-color: black;
    height: 50%;
    width: 15%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15%;
}

#eye_2 {
    background-color: black;
    height: 50%;
    width: 15%;
    border-radius: 50%;
    display: inline-block;
}

#mouth {
    height: 15%;
    width: 70%;
    background-color: red;
    margin-left: 15%;
    margin-top: -12%;
    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
}