div {
    height: 200px;
    width: 200px;
    background-color: coral;
    border-radius: 30px;
    margin: 50px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(65, 69, 60);
}

#one {
    transform: rotate(45deg);
}

#two {
    transform: scaleY(0.5);
}

#three {
    transform: translateX(100px);
}

#four {
    transform: skew(-15deg);
}

#five {
    transform: skew(20deg) rotate(45deg) translate(100px, 100px);
}