#grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
}

#grid div {
    background-color: pink;
}

#head {
    grid-column: 1/ span 12;
}

#side {
    grid-column: 1/ span 3;
    grid-row: 2/ span 10;
}

#nav {
    grid-column: 4/ span 6;
}

#main {
    grid-row: 3/ span 9;
    grid-column: 4/ span 6;
}

#ads {
    grid-column: 10/ span 3;
    grid-row: 2/ span 10;
}

#foot {
    grid-column: 1/ span 12;
}

@media(max-width: 720px){
    #head {
        grid-column: 1/ span 12;
    }
    #nav {
        grid-column: 1/ span 12;
        grid-row: 2;
    }
    #side {
        grid-column: 1/ span 3;
        grid-row: 3/ span 9;
    }
    #main {
        grid-column: 4/ span 9;
        grid-row: 3/ span 9;
    }
    #ads {
        grid-column: 1/ span 3;
        grid-row: 12;
    }
    #footer {
        grid-column: 4/ span 9;
        grid-row: 12;
    }
}