.container {
    height: 300px;
    width: 600px;
    background-color: wheat;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: rgb(249, 86, 251);
    border: 3px solid black;
    text-align: center;
    align-content: center;
    font-size: 30px;
}

.one {
    background-color: rgb(249, 86, 251);
    border: 3px solid black;
    text-align: center;
    align-content: center;
    font-size: 30px;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/3;
}