h2 {
  color: rgb(216, 146, 15);
}

h1 > span {
  color: rgb(138, 85, 28);
}

#pets {
  display: flex;
  margin: auto;
  margin-right: 10px;
  justify-content: space-evenly;
}

.card {
  height: 600px;
  width: 500px;
  border: 3px solid black;
  justify-content: center;
  border-radius: 15px;
}

img {
  height: 350px;
  width: 480px;
  margin: 10px;
  border-radius: 15px;
}

p,h3 {
  margin: 10px;
}

@media(max-width: 420px) {
  #pets {
    flex-wrap: wrap;
  }
}