<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Using EJS</title>
</head>
<body>
    <h1>This is Home Page Using EJS</h1>
    <h2>1 + 2 without EJS tag</h2>
    <h2><%= 1 + 2 %> with EJS tag</h2>
    <h3><%= ["Hello", "Namaste", "Bonjour"][2] %> <%= "ankit vadnere".toUpperCase() %></h3>
</body>
</html>